<div class="home-container d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
        <div class="col-md-6 p-3">
            <div class="option-card frame text-white p-5 shadow" (click)="navigateTo('frame-by-frame')">
                <h2>Frame by Frame</h2>
                <p>Envie vídeos para extrair frames individuais.</p>
            </div>
        </div>
        <div class="col-md-6 p-3">
            <div class="option-card my-frames text-white p-5 shadow" (click)="navigateTo('my-frames')">
                <h2>Meus Frames</h2>
                <p>Visualize suas solicitações e faça o download dos frames processados.</p>
            </div>
        </div>
    </div>
</div>